{% extends 'shopapp/base.html' %}
{% block title %}
    Confirm archive {{ odject.name }}
{% endblock %}

{% block body %}
    <h1>Are you sure, you want to archive {{ object.name }}? </h1>
    <br>
    <div>
        <a href="{% url 'shopapp:product_details' pk=product.pk %}"
        >back to product details</a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">archive</button>
        </form>
    </div>
{% endblock %}